@font-face {
  font-family: 'mdi';
  src:  url('fonts/mdi.eot?yxydcj');
  src:  url('fonts/mdi.eot?yxydcj#iefix') format('embedded-opentype'),
    url('fonts/mdi.ttf?yxydcj') format('truetype'),
    url('fonts/mdi.woff?yxydcj') format('woff'),
    url('fonts/mdi.svg?yxydcj#mdi') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mdi-"], [class*=" mdi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mdi' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-order-bool-ascending-variant:before {
  content: "\ea02";
}
.mdi-order-bool-ascending:before {
  content: "\eaa0";
}
.mdi-format-text:before {
  content: "\ea9e";
}
.mdi-format-text-variant:before {
  content: "\ea9f";
}
.mdi-image:before {
  content: "\ea01";
}
.mdi-format-list-checks:before {
  content: "\ea9b";
}
.mdi-keyboard-space:before {
  content: "\ea9c";
}
.mdi-text-short:before {
  content: "\ea9d";
}
.mdi-account-key-outline:before {
  content: "\ea99";
}
.mdi-account-key:before {
  content: "\ea9a";
}
.mdi-dots-grid:before {
  content: "\ea98";
}
.mdi-format-list-group:before {
  content: "\ea97";
}
.mdi-database:before {
  content: "\ea96";
}
.mdi-arrow-expand-horizontal:before {
  content: "\ea93";
}
.mdi-camera-plus-outline:before {
  content: "\ea94";
}
.mdi-camera-plus:before {
  content: "\ea95";
}
.mdi-video-high-definition:before {
  content: "\ea90";
}
.mdi-video-plus:before {
  content: "\ea91";
}
.mdi-video-plus-outline:before {
  content: "\ea92";
}
.mdi-sort:before {
  content: "\ea8f";
}
.mdi-redo-variant:before {
  content: "\ea88";
}
.mdi-redo:before {
  content: "\ea89";
}
.mdi-file-undo:before {
  content: "\ea8a";
}
.mdi-file-undo-outline:before {
  content: "\ea8b";
}
.mdi-undo:before {
  content: "\ea8c";
}
.mdi-undo-variant:before {
  content: "\ea8d";
}
.mdi-file-restore:before {
  content: "\ea8e";
}
.mdi-database-eye-off-outline:before {
  content: "\ea84";
}
.mdi-database-eye-off:before {
  content: "\ea85";
}
.mdi-database-eye-outline:before {
  content: "\ea86";
}
.mdi-database-eye:before {
  content: "\ea87";
}
.mdi-contain-start:before {
  content: "\ea81";
}
.mdi-contain-end:before {
  content: "\ea82";
}
.mdi-contain:before {
  content: "\ea83";
}
.mdi-delete-forever-outline:before {
  content: "\ea7f";
}
.mdi-delete-forever:before {
  content: "\ea80";
}
.mdi-delete-alert:before {
  content: "\ea7d";
}
.mdi-delete-alert-outline:before {
  content: "\ea7e";
}
.mdi-email-arrow-right-outline:before {
  content: "\ea7b";
}
.mdi-email-arrow-right:before {
  content: "\ea7c";
}
.mdi-invoice-remove:before {
  content: "\ea77";
}
.mdi-invoice-remove-outline:before {
  content: "\ea78";
}
.mdi-invoice-check-outline:before {
  content: "\ea79";
}
.mdi-invoice-check:before {
  content: "\ea7a";
}
.mdi-clipboard-flow-outline:before {
  content: "\ea75";
}
.mdi-clipboard-flow:before {
  content: "\ea76";
}
.mdi-restore-alert:before {
  content: "\ea74";
}
.mdi-arrow-left-bold-circle:before {
  content: "\ea73";
}
.mdi-folder-open:before {
  content: "\ea6f";
}
.mdi-folder-outline:before {
  content: "\ea70";
}
.mdi-folder:before {
  content: "\ea71";
}
.mdi-folder-open-outline:before {
  content: "\ea72";
}
.mdi-camera-switch-outline:before {
  content: "\ea6d";
}
.mdi-camera-switch:before {
  content: "\ea6e";
}
.mdi-database-search:before {
  content: "\ea6b";
}
.mdi-database-search-outline:before {
  content: "\ea6c";
}
.mdi-source-branch-remove:before {
  content: "\ea6a";
}
.mdi-hammer-wrench:before {
  content: "\ea68";
}
.mdi-hammer-screwdriver:before {
  content: "\ea69";
}
.mdi-home-switch-outline:before {
  content: "\ea61";
}
.mdi-home-switch:before {
  content: "\ea62";
}
.mdi-home-plus-outline:before {
  content: "\ea63";
}
.mdi-home-plus:before {
  content: "\ea64";
}
.mdi-home-account:before {
  content: "\ea65";
}
.mdi-home-edit:before {
  content: "\ea66";
}
.mdi-home-edit-outline:before {
  content: "\ea67";
}
.mdi-flag-variant:before {
  content: "\ea5f";
}
.mdi-flag-variant-plus:before {
  content: "\ea60";
}
.mdi-flag-plus:before {
  content: "\ea5e";
}
.mdi-invoice-text-plus:before {
  content: "\ea5d";
}
.mdi-lock:before {
  content: "\ea5b";
}
.mdi-lock-outline:before {
  content: "\ea5c";
}
.mdi-drag-vertical-variant:before {
  content: "\ea56";
}
.mdi-drag-variant:before {
  content: "\ea57";
}
.mdi-drag-horizontal:before {
  content: "\ea58";
}
.mdi-drag:before {
  content: "\ea59";
}
.mdi-ruler-square-compass:before {
  content: "\ea5a";
}
.mdi-shield-account:before {
  content: "\ea4a";
}
.mdi-shield-alert-outline:before {
  content: "\ea4b";
}
.mdi-shield-alert:before {
  content: "\ea4c";
}
.mdi-lock-open:before {
  content: "\ea4d";
}
.mdi-lock-open-outline:before {
  content: "\ea4e";
}
.mdi-lock-reset:before {
  content: "\ea4f";
}
.mdi-shield-account-outline:before {
  content: "\ea50";
}
.mdi-truck-fast:before {
  content: "\ea51";
}
.mdi-truck-fast-outline:before {
  content: "\ea52";
}
.mdi-clock-alert-outline:before {
  content: "\ea53";
}
.mdi-clock-alert:before {
  content: "\ea54";
}
.mdi-clock-end:before {
  content: "\ea55";
}
.mdi-clock-plus:before {
  content: "\ea3e";
}
.mdi-clock-plus-outline:before {
  content: "\ea3f";
}
.mdi-timeline-clock:before {
  content: "\ea40";
}
.mdi-clock-start:before {
  content: "\ea41";
}
.mdi-account-clock:before {
  content: "\ea42";
}
.mdi-account-clock-outline:before {
  content: "\ea43";
}
.mdi-bed-clock:before {
  content: "\ea44";
}
.mdi-clock-check-outline:before {
  content: "\ea45";
}
.mdi-clock-check:before {
  content: "\ea46";
}
.mdi-clock-remove:before {
  content: "\ea47";
}
.mdi-clock-remove-outline:before {
  content: "\ea48";
}
.mdi-timeline-clock-outline:before {
  content: "\ea49";
}
.mdi-boom-gate-alert-outline:before {
  content: "\ea3c";
}
.mdi-boom-gate-alert:before {
  content: "\ea3d";
}
.mdi-calendar-start:before {
  content: "\ea38";
}
.mdi-calendar-account:before {
  content: "\ea39";
}
.mdi-calendar-account-outline:before {
  content: "\ea3a";
}
.mdi-calendar-start-outline:before {
  content: "\ea3b";
}
.mdi-theme-light-dark:before {
  content: "\ea35";
}
.mdi-weather-night:before {
  content: "\ea36";
}
.mdi-white-balance-sunny:before {
  content: "\ea37";
}
.mdi-engine-plus:before {
  content: "\ea33";
}
.mdi-engine-minus:before {
  content: "\ea34";
}
.mdi-image-filter-hdr-outline:before {
  content: "\ea31";
}
.mdi-image-filter-hdr:before {
  content: "\ea32";
}
.mdi-map-marker-right:before {
  content: "\ea2f";
}
.mdi-map-marker-right-outline:before {
  content: "\ea30";
}
.mdi-cart-percent:before {
  content: "\ea2e";
}
.mdi-store-plus-outline:before {
  content: "\ea2c";
}
.mdi-store-plus:before {
  content: "\ea2d";
}
.mdi-pin-outline:before {
  content: "\ea28";
}
.mdi-pin-off-outline:before {
  content: "\ea29";
}
.mdi-pin-off:before {
  content: "\ea2a";
}
.mdi-pin:before {
  content: "\ea2b";
}
.mdi-account-plus-outline:before {
  content: "\ea24";
}
.mdi-account-plus:before {
  content: "\ea25";
}
.mdi-account-multiple-plus-outline:before {
  content: "\ea26";
}
.mdi-account-multiple-plus:before {
  content: "\ea27";
}
.mdi-format-align-center:before {
  content: "\ea20";
}
.mdi-format-align-left:before {
  content: "\ea21";
}
.mdi-format-align-right:before {
  content: "\ea22";
}
.mdi-format-align-justify:before {
  content: "\ea23";
}
.mdi-bookmark-check:before {
  content: "\ea1e";
}
.mdi-bookmark-check-outline:before {
  content: "\ea1f";
}
.mdi-bookmark-minus-outline:before {
  content: "\ea18";
}
.mdi-bookmark-outline:before {
  content: "\ea19";
}
.mdi-bookmark-plus-outline:before {
  content: "\ea1a";
}
.mdi-bookmark-plus:before {
  content: "\ea1b";
}
.mdi-bookmark-minus:before {
  content: "\ea1c";
}
.mdi-bookmark:before {
  content: "\ea1d";
}
.mdi-bell-circle-outline:before {
  content: "\ea15";
}
.mdi-bell-circle:before {
  content: "\ea16";
}
.mdi-link-off:before {
  content: "\ea17";
}
.mdi-archive-off-outline:before {
  content: "\ea13";
}
.mdi-archive-off:before {
  content: "\ea14";
}
.mdi-clipboard-off:before {
  content: "\ea11";
}
.mdi-clipboard-off-outline:before {
  content: "\ea12";
}
.mdi-bell-minus-outline:before {
  content: "\ea0d";
}
.mdi-bell-minus:before {
  content: "\ea0e";
}
.mdi-help-circle:before {
  content: "\ea0f";
}
.mdi-help-circle-outline:before {
  content: "\ea10";
}
.mdi-check-all:before {
  content: "\ea0c";
}
.mdi-bell-check:before {
  content: "\ea09";
}
.mdi-bell-ring:before {
  content: "\ea0a";
}
.mdi-bell-off:before {
  content: "\ea0b";
}
.mdi-bell-plus-outline:before {
  content: "\ea07";
}
.mdi-bell-plus:before {
  content: "\ea08";
}
.mdi-tools:before {
  content: "\ea06";
}
.mdi-account-hard-hat-outline:before {
  content: "\ea05";
}
.mdi-playlist-plus:before {
  content: "\ea04";
}
.mdi-security:before {
  content: "\ea03";
}
.mdi-format-list-bulleted-type:before {
  content: "\ea00";
}
.mdi-file-document-remove-outline:before {
  content: "\e9f7";
}
.mdi-file-document-remove:before {
  content: "\e9f8";
}
.mdi-content-save-cog-outline:before {
  content: "\e9f9";
}
.mdi-content-save-cog:before {
  content: "\e9fa";
}
.mdi-content-save-move-outline:before {
  content: "\e9fb";
}
.mdi-content-save-move:before {
  content: "\e9fc";
}
.mdi-content-save-check-outline:before {
  content: "\e9fd";
}
.mdi-content-save-check:before {
  content: "\e9fe";
}
.mdi-dots-vertical:before {
  content: "\e9ff";
}
.mdi-image-edit:before {
  content: "\e9f5";
}
.mdi-image-edit-outline:before {
  content: "\e9f6";
}
.mdi-calendar-edit-outline:before {
  content: "\e9f4";
}
.mdi-calendar-edit:before {
  content: "\e9f3";
}
.mdi-format-italic:before {
  content: "\e9f0";
}
.mdi-format-underline:before {
  content: "\e9f1";
}
.mdi-format-bold:before {
  content: "\e9f2";
}
.mdi-pencil-outline:before {
  content: "\e9ee";
}
.mdi-pencil:before {
  content: "\e9ef";
}
.mdi-dump-truck:before {
  content: "\e9ec";
}
.mdi-engine:before {
  content: "\e9ed";
}
.mdi-minus:before {
  content: "\e9ea";
}
.mdi-window-minimize:before {
  content: "\e9eb";
}
.mdi-view-kanban:before {
  content: "\e9e9";
}
.mdi-star:before {
  content: "\e9de";
}
.mdi-star-outline:before {
  content: "\e9df";
}
.mdi-star-cog:before {
  content: "\e9e0";
}
.mdi-star-cog-outline:before {
  content: "\e9e1";
}
.mdi-file-chart-outline:before {
  content: "\e9e2";
}
.mdi-file-chart:before {
  content: "\e9e3";
}
.mdi-chart-waterfall:before {
  content: "\e9e4";
}
.mdi-chart-line:before {
  content: "\e9e5";
}
.mdi-chart-line-variant1:before {
  content: "\e9e6";
}
.mdi-chart-bell-curve:before {
  content: "\e9e7";
}
.mdi-chart-bell-curve-cumulative:before {
  content: "\e9e8";
}
.mdi-piston:before {
  content: "\e9dd";
}
.mdi-cart-arrow-down:before {
  content: "\e9dc";
}
.mdi-note-text-outline:before {
  content: "\e9da";
}
.mdi-note-text:before {
  content: "\e9db";
}
.mdi-restore:before {
  content: "\e9d7";
}
.mdi-view-column-outline:before {
  content: "\e9d8";
}
.mdi-view-column:before {
  content: "\e9d9";
}
.mdi-bell:before {
  content: "\e9d5";
}
.mdi-bell-outline:before {
  content: "\e9d6";
}
.mdi-view-dashboard-variant-outline:before {
  content: "\e9d3";
}
.mdi-view-dashboard-variant:before {
  content: "\e9d4";
}
.mdi-robot-industrial-outline:before {
  content: "\e9d1";
}
.mdi-robot-industrial:before {
  content: "\e9d2";
}
.mdi-factory:before {
  content: "\e9d0";
}
.mdi-menu:before {
  content: "\e9cd";
}
.mdi-chevron-double-right:before {
  content: "\e9ce";
}
.mdi-chevron-double-left:before {
  content: "\e9cf";
}
.mdi-chart-bubble:before {
  content: "\e9cc";
}
.mdi-text-box-check-outline:before {
  content: "\e9c8";
}
.mdi-text-box-check:before {
  content: "\e9c9";
}
.mdi-archive-plus-outline:before {
  content: "\e9ca";
}
.mdi-archive-plus:before {
  content: "\e9cb";
}
.mdi-tag-text-outline:before {
  content: "\e9be";
}
.mdi-tag-text:before {
  content: "\e9bf";
}
.mdi-tag-plus-outline:before {
  content: "\e9c0";
}
.mdi-tag-plus:before {
  content: "\e9c1";
}
.mdi-tag-outline:before {
  content: "\e9c2";
}
.mdi-tag-off-outline:before {
  content: "\e9c3";
}
.mdi-tag-off:before {
  content: "\e9c4";
}
.mdi-tag-multiple-outline:before {
  content: "\e9c5";
}
.mdi-tag-multiple:before {
  content: "\e9c6";
}
.mdi-tag:before {
  content: "\e9c7";
}
.mdi-text-to-speech:before {
  content: "\e9bd";
}
.mdi-content-copy:before {
  content: "\e9ba";
}
.mdi-text-box-plus-outline:before {
  content: "\e9bb";
}
.mdi-text-box-plus:before {
  content: "\e9bc";
}
.mdi-file-multiple-outline:before {
  content: "\e9b6";
}
.mdi-file-multiple:before {
  content: "\e9b7";
}
.mdi-file-link:before {
  content: "\e9b8";
}
.mdi-file-link-outline:before {
  content: "\e9b9";
}
.mdi-language-javascript:before {
  content: "\e9b5";
}
.mdi-clipboard-clock-outline:before {
  content: "\e9b3";
}
.mdi-clipboard-clock:before {
  content: "\e9b4";
}
.mdi-clipboard-text-clock-outline:before {
  content: "\e9b1";
}
.mdi-clipboard-text-clock:before {
  content: "\e9b2";
}
.mdi-account-wrench-outline:before {
  content: "\e9af";
}
.mdi-account-wrench:before {
  content: "\e9b0";
}
.mdi-clipboard-alert-outline:before {
  content: "\e9ad";
}
.mdi-clipboard-alert:before {
  content: "\e9ae";
}
.mdi-archive-cog-outline:before {
  content: "\e9ab";
}
.mdi-alert-circle-outline:before {
  content: "\e9ac";
}
.mdi-stop-circle-outline:before {
  content: "\e9a8";
}
.mdi-arrow-right-bold-circle:before {
  content: "\e9a9";
}
.mdi-stop-circle:before {
  content: "\e9aa";
}
.mdi-image-multiple-outline:before {
  content: "\e9a6";
}
.mdi-video-outline:before {
  content: "\e9a7";
}
.mdi-file-video:before {
  content: "\e9a4";
}
.mdi-video:before {
  content: "\e9a5";
}
.mdi-truck-outline:before {
  content: "\e9a3";
}
.mdi-chart-gantt:before {
  content: "\e9a2";
}
.mdi-clipboard-text-outline:before {
  content: "\e9a1";
}
.mdi-pause:before {
  content: "\e9a0";
}
.mdi-alphabetical:before {
  content: "\e99f";
}
.mdi-file-document-outline:before {
  content: "\e99b";
}
.mdi-book-outline:before {
  content: "\e99c";
}
.mdi-timer-outline:before {
  content: "\e99d";
}
.mdi-timer-off-outline:before {
  content: "\e99e";
}
.mdi-microphone:before {
  content: "\e99a";
}
.mdi-record-circle:before {
  content: "\e995";
}
.mdi-volume-high:before {
  content: "\e996";
}
.mdi-link:before {
  content: "\e997";
}
.mdi-record:before {
  content: "\e998";
}
.mdi-microphone-plus:before {
  content: "\e999";
}
.mdi-engine-outline:before {
  content: "\e993";
}
.mdi-file-cog:before {
  content: "\e991";
}
.mdi-file-cog-outline:before {
  content: "\e992";
}
.mdi-timer-off:before {
  content: "\e98f";
}
.mdi-timer:before {
  content: "\e990";
}
.mdi-office-building-marker-outline:before {
  content: "\e98e";
}
.mdi-palette-swatch:before {
  content: "\e98b";
}
.mdi-excavator:before {
  content: "\e98c";
}
.mdi-clock-time-four-outline:before {
  content: "\e98d";
}
.mdi-calendar-plus:before {
  content: "\e98a";
}
.mdi-form-dropdown:before {
  content: "\e983";
}
.mdi-form-textarea:before {
  content: "\e984";
}
.mdi-form-textbox:before {
  content: "\e985";
}
.mdi-list-status:before {
  content: "\e986";
}
.mdi-numeric:before {
  content: "\e987";
}
.mdi-clipboard-check:before {
  content: "\e988";
}
.mdi-file:before {
  content: "\e989";
}
.mdi-form-select:before {
  content: "\e982";
}
.mdi-eye-off:before {
  content: "\e981";
}
.mdi-fullscreen-exit:before {
  content: "\e97d";
}
.mdi-fullscreen:before {
  content: "\e97e";
}
.mdi-arrow-expand-all:before {
  content: "\e97f";
}
.mdi-arrow-collapse-all:before {
  content: "\e980";
}
.mdi-eye:before {
  content: "\e97c";
}
.mdi-archive-cog:before {
  content: "\e97b";
}
.mdi-camera-flip:before {
  content: "\e979";
}
.mdi-camera-iris:before {
  content: "\e97a";
}
.mdi-radiobox-marked:before {
  content: "\e977";
}
.mdi-radiobox-blank:before {
  content: "\e978";
}
.mdi-monitor-dashboard:before {
  content: "\e976";
}
.mdi-clipboard-outline:before {
  content: "\e975";
}
.mdi-arrow-all:before {
  content: "\e974";
}
.mdi-filter-variant:before {
  content: "\e96f";
}
.mdi-filter-remove-outline:before {
  content: "\e970";
}
.mdi-filter-remove:before {
  content: "\e971";
}
.mdi-filter-outline:before {
  content: "\e972";
}
.mdi-filter:before {
  content: "\e973";
}
.mdi-package-variant-closed:before {
  content: "\e96d";
}
.mdi-package-variant:before {
  content: "\e96e";
}
.mdi-paperclip:before {
  content: "\e96c";
}
.mdi-folder-upload:before {
  content: "\e96b";
}
.mdi-square-edit-outline:before {
  content: "\e96a";
}
.mdi-account-switch:before {
  content: "\e968";
}
.mdi-arrow-up-bold-circle:before {
  content: "\e969";
}
.mdi-arrow-down-bold-circle-outline-2:before {
  content: "\e964";
}
.mdi-arrow-up-bold-circle-outline:before {
  content: "\e965";
}
.mdi-arrow-right-bold-circle-outline:before {
  content: "\e966";
}
.mdi-arrow-left-bold-circle-outline:before {
  content: "\e967";
}
.mdi-open-in-new:before {
  content: "\e963";
}
.mdi-thumb-up:before {
  content: "\e961";
}
.mdi-thumb-down:before {
  content: "\e962";
}
.mdi-mdi-format-list-text:before {
  content: "\e960";
}
.mdi-history:before {
  content: "\e95f";
}
.mdi-file-outline:before {
  content: "\e95e";
}
.mdi-mdi-check-box-blank-outline:before {
  content: "\e95c";
}
.mdi-mdi-check-box-outline:before {
  content: "\e95d";
}
.mdi-check-box-outline:before {
  content: "\e95b";
}
.mdi-menu-up:before {
  content: "\e957";
}
.mdi-menu-left:before {
  content: "\e958";
}
.mdi-menu-right:before {
  content: "\e959";
}
.mdi-menu-down:before {
  content: "\e95a";
}
.mdi-chevron-left:before {
  content: "\e955";
}
.mdi-chevron-up:before {
  content: "\e956";
}
.mdi-window-close:before {
  content: "\e954";
}
.mdi-account-settings-variant:before {
  content: "\e953";
}
.mdi-minus-box:before {
  content: "\e952";
}
.mdi-checkbox-marked:before {
  content: "\e951";
}
.mdi-playlist-check:before {
  content: "\e950";
}
.mdi-file-upload:before {
  content: "\e94b";
}
.mdi-palette:before {
  content: "\e94c";
}
.mdi-alert:before {
  content: "\e94d";
}
.mdi-earth:before {
  content: "\e94e";
}
.mdi-account-lock:before {
  content: "\e94f";
}
.mdi-logout:before {
  content: "\e94a";
}
.mdi-account-1:before {
  content: "\e994";
}
.mdi-account:before {
  content: "\e949";
}
.mdi-office-building:before {
  content: "\e947";
}
.mdi-arrow-down-bold-circle-outline:before {
  content: "\e948";
}
.mdi-arrow-down:before {
  content: "\e942";
}
.mdi-arrow-up:before {
  content: "\e943";
}
.mdi-minus-box-outline:before {
  content: "\e944";
}
.mdi-plus-box-outline:before {
  content: "\e945";
}
.mdi-lightbulb:before {
  content: "\e946";
}
.mdi-chevron-right:before {
  content: "\e941";
}
.mdi-chart-bar:before {
  content: "\e940";
}
.mdi-alert-circle:before {
  content: "\e90c";
}
.mdi-arrow-left:before {
  content: "\e90d";
}
.mdi-arrow-right:before {
  content: "\e90e";
}
.mdi-book:before {
  content: "\e90f";
}
.mdi-brightness-1:before {
  content: "\e910";
}
.mdi-camera:before {
  content: "\e911";
}
.mdi-card-account-details:before {
  content: "\e912";
}
.mdi-cart:before {
  content: "\e913";
}
.mdi-chart-line-variant:before {
  content: "\e914";
}
.mdi-chart-pie:before {
  content: "\e915";
}
.mdi-check:before {
  content: "\e916";
}
.mdi-checkbox-blank:before {
  content: "\e917";
}
.mdi-checkbox-blank-outline:before {
  content: "\e918";
}
.mdi-checkbox-marked-outline:before {
  content: "\e919";
}
.mdi-close:before {
  content: "\e91a";
}
.mdi-close-box:before {
  content: "\e91b";
}
.mdi-close-circle:before {
  content: "\e91c";
}
.mdi-cog:before {
  content: "\e91d";
}
.mdi-content-save:before {
  content: "\e91e";
}
.mdi-delete:before {
  content: "\e91f";
}
.mdi-dolly:before {
  content: "\e920";
}
.mdi-door-closed:before {
  content: "\e921";
}
.mdi-dots-horizontal:before {
  content: "\e922";
}
.mdi-download:before {
  content: "\e923";
}
.mdi-exclamation:before {
  content: "\e924";
}
.mdi-exit-to-app:before {
  content: "\e925";
}
.mdi-file-document:before {
  content: "\e926";
}
.mdi-file-edit-outline:before {
  content: "\e927";
}
.mdi-file-excel:before {
  content: "\e928";
}
.mdi-file-image:before {
  content: "\e929";
}
.mdi-file-pdf:before {
  content: "\e92a";
}
.mdi-format-list-bulleted:before {
  content: "\e92b";
}
.mdi-format-list-text:before {
  content: "\e92c";
}
.mdi-help:before {
  content: "\e92d";
}
.mdi-image-multiple:before {
  content: "\e92e";
}
.mdi-information:before {
  content: "\e92f";
}
.mdi-magnify:before {
  content: "\e930";
}
.mdi-map:before {
  content: "\e931";
}
.mdi-map-marker:before {
  content: "\e932";
}
.mdi-map-search:before {
  content: "\e933";
}
.mdi-play:before {
  content: "\e934";
}
.mdi-plus:before {
  content: "\e935";
}
.mdi-printer:before {
  content: "\e936";
}
.mdi-qrcode:before {
  content: "\e937";
}
.mdi-refresh:before {
  content: "\e938";
}
.mdi-send:before {
  content: "\e939";
}
.mdi-server:before {
  content: "\e93a";
}
.mdi-stop:before {
  content: "\e93b";
}
.mdi-swap-horizontal:before {
  content: "\e93c";
}
.mdi-table:before {
  content: "\e93d";
}
.mdi-truck:before {
  content: "\e93e";
}
.mdi-warehouse:before {
  content: "\e93f";
}
.mdi-account-cog:before {
  content: "\e900";
}
.mdi-account-hard-hat:before {
  content: "\e901";
}
.mdi-application:before {
  content: "\e902";
}
.mdi-archive:before {
  content: "\e903";
}
.mdi-calendar:before {
  content: "\e904";
}
.mdi-calendar-clock:before {
  content: "\e905";
}
.mdi-chevron-down:before {
  content: "\e906";
}
.mdi-clipboard-text:before {
  content: "\e907";
}
.mdi-clock:before {
  content: "\e908";
}
.mdi-home:before {
  content: "\e909";
}
.mdi-source-merge:before {
  content: "\e90a";
}
.mdi-webpack:before {
  content: "\e90b";
}
