@font-face {
  font-family: 'mdi';
  src:  url('fonts/mdi.eot?ox1nul');
  src:  url('fonts/mdi.eot?ox1nul#iefix') format('embedded-opentype'),
    url('fonts/mdi.ttf?ox1nul') format('truetype'),
    url('fonts/mdi.woff?ox1nul') format('woff'),
    url('fonts/mdi.svg?ox1nul#mdi') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mdi-"], [class*=" mdi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mdi' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-radiobox-marked::before {
  content: "\e977";
}
.mdi-radiobox-blank::before {
  content: "\e978";
}
.mdi-monitor-dashboard::before {
  content: "\e976";
}
.mdi-clipboard-outline::before {
  content: "\e975";
}
.mdi-arrow-all::before {
  content: "\e974";
}
.mdi-filter-variant::before {
  content: "\e96f";
}
.mdi-filter-remove-outline::before {
  content: "\e970";
}
.mdi-filter-remove::before {
  content: "\e971";
}
.mdi-filter-outline::before {
  content: "\e972";
}
.mdi-filter::before {
  content: "\e973";
}
.mdi-package-variant-closed::before {
  content: "\e96d";
}
.mdi-package-variant::before {
  content: "\e96e";
}
.mdi-paperclip::before {
  content: "\e96c";
}
.mdi-folder-upload::before {
  content: "\e96b";
}
.mdi-square-edit-outline::before {
  content: "\e96a";
}
.mdi-account-switch::before {
  content: "\e968";
}
.mdi-arrow-up-bold-circle::before {
  content: "\e969";
}
.mdi-arrow-down-bold-circle-outline-2::before {
  content: "\e964";
}
.mdi-arrow-up-bold-circle-outline::before {
  content: "\e965";
}
.mdi-arrow-right-bold-circle-outline::before {
  content: "\e966";
}
.mdi-arrow-left-bold-circle-outline::before {
  content: "\e967";
}
.mdi-open-in-new::before {
  content: "\e963";
}
.mdi-thumb-up::before {
  content: "\e961";
}
.mdi-thumb-down::before {
  content: "\e962";
}
.mdi-mdi-format-list-text::before {
  content: "\e960";
}
.mdi-history::before {
  content: "\e95f";
}
.mdi-file-outline::before {
  content: "\e95e";
}
.mdi-mdi-check-box-blank-outline::before {
  content: "\e95c";
}
.mdi-mdi-check-box-outline::before {
  content: "\e95d";
}
.mdi-check-box-outline::before {
  content: "\e95b";
}
.mdi-menu-up::before {
  content: "\e957";
}
.mdi-menu-left::before {
  content: "\e958";
}
.mdi-menu-right::before {
  content: "\e959";
}
.mdi-menu-down::before {
  content: "\e95a";
}
.mdi-chevron-left::before {
  content: "\e955";
}
.mdi-chevron-up::before {
  content: "\e956";
}
.mdi-window-close::before {
  content: "\e954";
}
.mdi-account-settings-variant::before {
  content: "\e953";
}
.mdi-minus-box::before {
  content: "\e952";
}
.mdi-checkbox-marked::before {
  content: "\e951";
}
.mdi-playlist-check::before {
  content: "\e950";
}
.mdi-file-upload::before {
  content: "\e94b";
}
.mdi-palette::before {
  content: "\e94c";
}
.mdi-alert::before {
  content: "\e94d";
}
.mdi-earth::before {
  content: "\e94e";
}
.mdi-account-lock::before {
  content: "\e94f";
}
.mdi-logout::before {
  content: "\e94a";
}
.mdi-account::before {
  content: "\e949";
}
.mdi-office-building::before {
  content: "\e947";
}
.mdi-arrow-down-bold-circle-outline::before {
  content: "\e948";
}
.mdi-arrow-down::before {
  content: "\e942";
}
.mdi-arrow-up::before {
  content: "\e943";
}
.mdi-minus-box-outline::before {
  content: "\e944";
}
.mdi-plus-box-outline::before {
  content: "\e945";
}
.mdi-lightbulb::before {
  content: "\e946";
}
.mdi-chevron-right::before {
  content: "\e941";
}
.mdi-chart-bar::before {
  content: "\e940";
}
.mdi-alert-circle::before {
  content: "\e90c";
}
.mdi-arrow-left::before {
  content: "\e90d";
}
.mdi-arrow-right::before {
  content: "\e90e";
}
.mdi-book::before {
  content: "\e90f";
}
.mdi-brightness-1::before {
  content: "\e910";
}
.mdi-camera::before {
  content: "\e911";
}
.mdi-card-account-details::before {
  content: "\e912";
}
.mdi-cart::before {
  content: "\e913";
}
.mdi-chart-line-variant::before {
  content: "\e914";
}
.mdi-chart-pie::before {
  content: "\e915";
}
.mdi-check::before {
  content: "\e916";
}
.mdi-checkbox-blank::before {
  content: "\e917";
}
.mdi-checkbox-blank-outline::before {
  content: "\e918";
}
.mdi-checkbox-marked-outline::before {
  content: "\e919";
}
.mdi-close::before {
  content: "\e91a";
}
.mdi-close-box::before {
  content: "\e91b";
}
.mdi-close-circle::before {
  content: "\e91c";
}
.mdi-cog::before {
  content: "\e91d";
}
.mdi-content-save::before {
  content: "\e91e";
}
.mdi-delete::before {
  content: "\e91f";
}
.mdi-dolly::before {
  content: "\e920";
}
.mdi-door-closed::before {
  content: "\e921";
}
.mdi-dots-horizontal::before {
  content: "\e922";
}
.mdi-download::before {
  content: "\e923";
}
.mdi-exclamation::before {
  content: "\e924";
}
.mdi-exit-to-app::before {
  content: "\e925";
}
.mdi-file-document::before {
  content: "\e926";
}
.mdi-file-edit-outline::before {
  content: "\e927";
}
.mdi-file-excel::before {
  content: "\e928";
}
.mdi-file-image::before {
  content: "\e929";
}
.mdi-file-pdf::before {
  content: "\e92a";
}
.mdi-format-list-bulleted::before {
  content: "\e92b";
}
.mdi-format-list-text::before {
  content: "\e92c";
}
.mdi-help::before {
  content: "\e92d";
}
.mdi-image-multiple::before {
  content: "\e92e";
}
.mdi-information::before {
  content: "\e92f";
}
.mdi-magnify::before {
  content: "\e930";
}
.mdi-map::before {
  content: "\e931";
}
.mdi-map-marker::before {
  content: "\e932";
}
.mdi-map-search::before {
  content: "\e933";
}
.mdi-play::before {
  content: "\e934";
}
.mdi-plus::before {
  content: "\e935";
}
.mdi-printer::before {
  content: "\e936";
}
.mdi-qrcode::before {
  content: "\e937";
}
.mdi-refresh::before {
  content: "\e938";
}
.mdi-send::before {
  content: "\e939";
}
.mdi-server::before {
  content: "\e93a";
}
.mdi-stop::before {
  content: "\e93b";
}
.mdi-swap-horizontal::before {
  content: "\e93c";
}
.mdi-table::before {
  content: "\e93d";
}
.mdi-truck::before {
  content: "\e93e";
}
.mdi-warehouse::before {
  content: "\e93f";
}
.mdi-account-cog::before {
  content: "\e900";
}
.mdi-account-hard-hat::before {
  content: "\e901";
}
.mdi-application::before {
  content: "\e902";
}
.mdi-archive::before {
  content: "\e903";
}
.mdi-calendar::before {
  content: "\e904";
}
.mdi-calendar-clock::before {
  content: "\e905";
}
.mdi-chevron-down::before {
  content: "\e906";
}
.mdi-clipboard-text::before {
  content: "\e907";
}
.mdi-clock::before {
  content: "\e908";
}
.mdi-home::before {
  content: "\e909";
}
.mdi-source-merge::before {
  content: "\e90a";
}
.mdi-webpack::before {
  content: "\e90b";
}
