@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?toksgv');
  src:  url('fonts/icomoon.eot?toksgv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?toksgv') format('truetype'),
    url('fonts/icomoon.woff?toksgv') format('woff'),
    url('fonts/icomoon.svg?toksgv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map-marker-right:before {
  content: "\ea2f";
}
.icon-map-marker-right-outline:before {
  content: "\ea30";
}
.icon-cart-percent:before {
  content: "\ea2e";
}
.icon-store-plus-outline:before {
  content: "\ea2c";
}
.icon-store-plus:before {
  content: "\ea2d";
}
.icon-pin-outline:before {
  content: "\ea28";
}
.icon-pin-off-outline:before {
  content: "\ea29";
}
.icon-pin-off:before {
  content: "\ea2a";
}
.icon-pin:before {
  content: "\ea2b";
}
.icon-account-plus-outline:before {
  content: "\ea24";
}
.icon-account-plus:before {
  content: "\ea25";
}
.icon-account-multiple-plus-outline:before {
  content: "\ea26";
}
.icon-account-multiple-plus:before {
  content: "\ea27";
}
.icon-format-align-center:before {
  content: "\ea20";
}
.icon-format-align-left:before {
  content: "\ea21";
}
.icon-format-align-right:before {
  content: "\ea22";
}
.icon-format-align-justify:before {
  content: "\ea23";
}
.icon-bookmark-check:before {
  content: "\ea1e";
}
.icon-bookmark-check-outline:before {
  content: "\ea1f";
}
.icon-bookmark-minus-outline:before {
  content: "\ea18";
}
.icon-bookmark-outline:before {
  content: "\ea19";
}
.icon-bookmark-plus-outline:before {
  content: "\ea1a";
}
.icon-bookmark-plus:before {
  content: "\ea1b";
}
.icon-bookmark-minus:before {
  content: "\ea1c";
}
.icon-bookmark:before {
  content: "\ea1d";
}
.icon-bell-circle-outline:before {
  content: "\ea15";
}
.icon-bell-circle:before {
  content: "\ea16";
}
.icon-link-off:before {
  content: "\ea17";
}
.icon-archive-off-outline:before {
  content: "\ea13";
}
.icon-archive-off:before {
  content: "\ea14";
}
.icon-clipboard-off:before {
  content: "\ea11";
}
.icon-clipboard-off-outline:before {
  content: "\ea12";
}
.icon-bell-minus-outline:before {
  content: "\ea0d";
}
.icon-bell-minus:before {
  content: "\ea0e";
}
.icon-help-circle:before {
  content: "\ea0f";
}
.icon-help-circle-outline:before {
  content: "\ea10";
}
.icon-check-all:before {
  content: "\ea0c";
}
.icon-bell-check:before {
  content: "\ea09";
}
.icon-bell-ring:before {
  content: "\ea0a";
}
.icon-bell-off:before {
  content: "\ea0b";
}
.icon-bell-plus-outline:before {
  content: "\ea07";
}
.icon-bell-plus:before {
  content: "\ea08";
}
.icon-tools:before {
  content: "\ea06";
}
.icon-account-hard-hat-outline:before {
  content: "\ea05";
}
.icon-playlist-plus:before {
  content: "\ea04";
}
.icon-security:before {
  content: "\ea03";
}
.icon-format-list-bulleted-type:before {
  content: "\ea00";
}
.icon-order-bool-ascending-variant:before {
  content: "\ea01";
}
.icon-order-bool-ascending:before {
  content: "\ea02";
}
.icon-file-document-remove-outline:before {
  content: "\e9f7";
}
.icon-file-document-remove:before {
  content: "\e9f8";
}
.icon-content-save-cog-outline:before {
  content: "\e9f9";
}
.icon-content-save-cog:before {
  content: "\e9fa";
}
.icon-content-save-move-outline:before {
  content: "\e9fb";
}
.icon-content-save-move:before {
  content: "\e9fc";
}
.icon-content-save-check-outline:before {
  content: "\e9fd";
}
.icon-content-save-check:before {
  content: "\e9fe";
}
.icon-dots-vertical:before {
  content: "\e9ff";
}
.icon-image-edit:before {
  content: "\e9f5";
}
.icon-image-edit-outline:before {
  content: "\e9f6";
}
.icon-calendar-edit-outline:before {
  content: "\e9f4";
}
.icon-calendar-edit:before {
  content: "\e9f3";
}
.icon-format-italic:before {
  content: "\e9f0";
}
.icon-format-underline:before {
  content: "\e9f1";
}
.icon-format-bold:before {
  content: "\e9f2";
}
.icon-pencil-outline:before {
  content: "\e9ee";
}
.icon-pencil:before {
  content: "\e9ef";
}
.icon-dump-truck:before {
  content: "\e9ec";
}
.icon-engine:before {
  content: "\e9ed";
}
.icon-minus:before {
  content: "\e9ea";
}
.icon-window-minimize:before {
  content: "\e9eb";
}
.icon-view-kanban:before {
  content: "\e9e9";
}
.icon-star:before {
  content: "\e9de";
}
.icon-star-outline:before {
  content: "\e9df";
}
.icon-star-cog:before {
  content: "\e9e0";
}
.icon-star-cog-outline:before {
  content: "\e9e1";
}
.icon-file-chart-outline:before {
  content: "\e9e2";
}
.icon-file-chart:before {
  content: "\e9e3";
}
.icon-chart-waterfall:before {
  content: "\e9e4";
}
.icon-chart-line:before {
  content: "\e9e5";
}
.icon-chart-line-variant1:before {
  content: "\e9e6";
}
.icon-chart-bell-curve:before {
  content: "\e9e7";
}
.icon-chart-bell-curve-cumulative:before {
  content: "\e9e8";
}
.icon-piston:before {
  content: "\e9dd";
}
.icon-cart-arrow-down:before {
  content: "\e9dc";
}
.icon-note-text-outline:before {
  content: "\e9da";
}
.icon-note-text:before {
  content: "\e9db";
}
.icon-restore:before {
  content: "\e9d7";
}
.icon-view-column-outline:before {
  content: "\e9d8";
}
.icon-view-column:before {
  content: "\e9d9";
}
.icon-bell:before {
  content: "\e9d5";
}
.icon-bell-outline:before {
  content: "\e9d6";
}
.icon-view-dashboard-variant-outline:before {
  content: "\e9d3";
}
.icon-view-dashboard-variant:before {
  content: "\e9d4";
}
.icon-robot-industrial-outline:before {
  content: "\e9d1";
}
.icon-robot-industrial:before {
  content: "\e9d2";
}
.icon-factory:before {
  content: "\e9d0";
}
.icon-menu:before {
  content: "\e9cd";
}
.icon-chevron-double-right:before {
  content: "\e9ce";
}
.icon-chevron-double-left:before {
  content: "\e9cf";
}
.icon-chart-bubble:before {
  content: "\e9cc";
}
.icon-text-box-check-outline:before {
  content: "\e9c8";
}
.icon-text-box-check:before {
  content: "\e9c9";
}
.icon-archive-plus-outline:before {
  content: "\e9ca";
}
.icon-archive-plus:before {
  content: "\e9cb";
}
.icon-tag-text-outline:before {
  content: "\e9be";
}
.icon-tag-text:before {
  content: "\e9bf";
}
.icon-tag-plus-outline:before {
  content: "\e9c0";
}
.icon-tag-plus:before {
  content: "\e9c1";
}
.icon-tag-outline:before {
  content: "\e9c2";
}
.icon-tag-off-outline:before {
  content: "\e9c3";
}
.icon-tag-off:before {
  content: "\e9c4";
}
.icon-tag-multiple-outline:before {
  content: "\e9c5";
}
.icon-tag-multiple:before {
  content: "\e9c6";
}
.icon-tag:before {
  content: "\e9c7";
}
.icon-text-to-speech:before {
  content: "\e9bd";
}
.icon-content-copy:before {
  content: "\e9ba";
}
.icon-text-box-plus-outline:before {
  content: "\e9bb";
}
.icon-text-box-plus:before {
  content: "\e9bc";
}
.icon-file-multiple-outline:before {
  content: "\e9b6";
}
.icon-file-multiple:before {
  content: "\e9b7";
}
.icon-file-link:before {
  content: "\e9b8";
}
.icon-file-link-outline:before {
  content: "\e9b9";
}
.icon-language-javascript:before {
  content: "\e9b5";
}
.icon-clipboard-clock-outline:before {
  content: "\e9b3";
}
.icon-clipboard-clock:before {
  content: "\e9b4";
}
.icon-clipboard-text-clock-outline:before {
  content: "\e9b1";
}
.icon-clipboard-text-clock:before {
  content: "\e9b2";
}
.icon-account-wrench-outline:before {
  content: "\e9af";
}
.icon-account-wrench:before {
  content: "\e9b0";
}
.icon-clipboard-alert-outline:before {
  content: "\e9ad";
}
.icon-clipboard-alert:before {
  content: "\e9ae";
}
.icon-archive-cog-outline:before {
  content: "\e9ab";
}
.icon-alert-circle-outline:before {
  content: "\e9ac";
}
.icon-stop-circle-outline:before {
  content: "\e9a8";
}
.icon-arrow-right-bold-circle:before {
  content: "\e9a9";
}
.icon-stop-circle:before {
  content: "\e9aa";
}
.icon-image-multiple-outline:before {
  content: "\e9a6";
}
.icon-video-outline:before {
  content: "\e9a7";
}
.icon-file-video:before {
  content: "\e9a4";
}
.icon-video:before {
  content: "\e9a5";
}
.icon-truck-outline:before {
  content: "\e9a3";
}
.icon-chart-gantt:before {
  content: "\e9a2";
}
.icon-clipboard-text-outline:before {
  content: "\e9a1";
}
.icon-pause:before {
  content: "\e9a0";
}
.icon-alphabetical:before {
  content: "\e99f";
}
.icon-file-document-outline:before {
  content: "\e99b";
}
.icon-book-outline:before {
  content: "\e99c";
}
.icon-timer-outline:before {
  content: "\e99d";
}
.icon-timer-off-outline:before {
  content: "\e99e";
}
.icon-microphone:before {
  content: "\e99a";
}
.icon-record-circle:before {
  content: "\e995";
}
.icon-volume-high:before {
  content: "\e996";
}
.icon-link:before {
  content: "\e997";
}
.icon-record:before {
  content: "\e998";
}
.icon-microphone-plus:before {
  content: "\e999";
}
.icon-engine-outline:before {
  content: "\e993";
}
.icon-file-cog:before {
  content: "\e991";
}
.icon-file-cog-outline:before {
  content: "\e992";
}
.icon-timer-off:before {
  content: "\e98f";
}
.icon-timer:before {
  content: "\e990";
}
.icon-office-building-marker-outline:before {
  content: "\e98e";
}
.icon-palette-swatch:before {
  content: "\e98b";
}
.icon-excavator:before {
  content: "\e98c";
}
.icon-clock-time-four-outline:before {
  content: "\e98d";
}
.icon-calendar-plus:before {
  content: "\e98a";
}
.icon-form-dropdown:before {
  content: "\e983";
}
.icon-form-textarea:before {
  content: "\e984";
}
.icon-form-textbox:before {
  content: "\e985";
}
.icon-list-status:before {
  content: "\e986";
}
.icon-numeric:before {
  content: "\e987";
}
.icon-clipboard-check:before {
  content: "\e988";
}
.icon-file:before {
  content: "\e989";
}
.icon-form-select:before {
  content: "\e982";
}
.icon-eye-off:before {
  content: "\e981";
}
.icon-fullscreen-exit:before {
  content: "\e97d";
}
.icon-fullscreen:before {
  content: "\e97e";
}
.icon-arrow-expand-all:before {
  content: "\e97f";
}
.icon-arrow-collapse-all:before {
  content: "\e980";
}
.icon-eye:before {
  content: "\e97c";
}
.icon-archive-cog:before {
  content: "\e97b";
}
.icon-camera-flip:before {
  content: "\e979";
}
.icon-camera-iris:before {
  content: "\e97a";
}
.icon-radiobox-marked:before {
  content: "\e977";
}
.icon-radiobox-blank:before {
  content: "\e978";
}
.icon-monitor-dashboard:before {
  content: "\e976";
}
.icon-clipboard-outline:before {
  content: "\e975";
}
.icon-arrow-all:before {
  content: "\e974";
}
.icon-filter-variant:before {
  content: "\e96f";
}
.icon-filter-remove-outline:before {
  content: "\e970";
}
.icon-filter-remove:before {
  content: "\e971";
}
.icon-filter-outline:before {
  content: "\e972";
}
.icon-filter:before {
  content: "\e973";
}
.icon-package-variant-closed:before {
  content: "\e96d";
}
.icon-package-variant:before {
  content: "\e96e";
}
.icon-paperclip:before {
  content: "\e96c";
}
.icon-folder-upload:before {
  content: "\e96b";
}
.icon-square-edit-outline:before {
  content: "\e96a";
}
.icon-account-switch:before {
  content: "\e968";
}
.icon-arrow-up-bold-circle:before {
  content: "\e969";
}
.icon-arrow-down-bold-circle-outline-2:before {
  content: "\e964";
}
.icon-arrow-up-bold-circle-outline:before {
  content: "\e965";
}
.icon-arrow-right-bold-circle-outline:before {
  content: "\e966";
}
.icon-arrow-left-bold-circle-outline:before {
  content: "\e967";
}
.icon-open-in-new:before {
  content: "\e963";
}
.icon-thumb-up:before {
  content: "\e961";
}
.icon-thumb-down:before {
  content: "\e962";
}
.icon-mdi-format-list-text:before {
  content: "\e960";
}
.icon-history:before {
  content: "\e95f";
}
.icon-file-outline:before {
  content: "\e95e";
}
.icon-mdi-check-box-blank-outline:before {
  content: "\e95c";
}
.icon-mdi-check-box-outline:before {
  content: "\e95d";
}
.icon-check-box-outline:before {
  content: "\e95b";
}
.icon-menu-up:before {
  content: "\e957";
}
.icon-menu-left:before {
  content: "\e958";
}
.icon-menu-right:before {
  content: "\e959";
}
.icon-menu-down:before {
  content: "\e95a";
}
.icon-chevron-left:before {
  content: "\e955";
}
.icon-chevron-up:before {
  content: "\e956";
}
.icon-window-close:before {
  content: "\e954";
}
.icon-account-settings-variant:before {
  content: "\e953";
}
.icon-minus-box:before {
  content: "\e952";
}
.icon-checkbox-marked:before {
  content: "\e951";
}
.icon-playlist-check:before {
  content: "\e950";
}
.icon-file-upload:before {
  content: "\e94b";
}
.icon-palette:before {
  content: "\e94c";
}
.icon-alert:before {
  content: "\e94d";
}
.icon-earth:before {
  content: "\e94e";
}
.icon-account-lock:before {
  content: "\e94f";
}
.icon-logout:before {
  content: "\e94a";
}
.icon-account-1:before {
  content: "\e994";
}
.icon-account:before {
  content: "\e949";
}
.icon-office-building:before {
  content: "\e947";
}
.icon-arrow-down-bold-circle-outline:before {
  content: "\e948";
}
.icon-arrow-down:before {
  content: "\e942";
}
.icon-arrow-up:before {
  content: "\e943";
}
.icon-minus-box-outline:before {
  content: "\e944";
}
.icon-plus-box-outline:before {
  content: "\e945";
}
.icon-lightbulb:before {
  content: "\e946";
}
.icon-chevron-right:before {
  content: "\e941";
}
.icon-chart-bar:before {
  content: "\e940";
}
.icon-alert-circle:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e90d";
}
.icon-arrow-right:before {
  content: "\e90e";
}
.icon-book:before {
  content: "\e90f";
}
.icon-brightness-1:before {
  content: "\e910";
}
.icon-camera:before {
  content: "\e911";
}
.icon-card-account-details:before {
  content: "\e912";
}
.icon-cart:before {
  content: "\e913";
}
.icon-chart-line-variant:before {
  content: "\e914";
}
.icon-chart-pie:before {
  content: "\e915";
}
.icon-check:before {
  content: "\e916";
}
.icon-checkbox-blank:before {
  content: "\e917";
}
.icon-checkbox-blank-outline:before {
  content: "\e918";
}
.icon-checkbox-marked-outline:before {
  content: "\e919";
}
.icon-close:before {
  content: "\e91a";
}
.icon-close-box:before {
  content: "\e91b";
}
.icon-close-circle:before {
  content: "\e91c";
}
.icon-cog:before {
  content: "\e91d";
}
.icon-content-save:before {
  content: "\e91e";
}
.icon-delete:before {
  content: "\e91f";
}
.icon-dolly:before {
  content: "\e920";
}
.icon-door-closed:before {
  content: "\e921";
}
.icon-dots-horizontal:before {
  content: "\e922";
}
.icon-download:before {
  content: "\e923";
}
.icon-exclamation:before {
  content: "\e924";
}
.icon-exit-to-app:before {
  content: "\e925";
}
.icon-file-document:before {
  content: "\e926";
}
.icon-file-edit-outline:before {
  content: "\e927";
}
.icon-file-excel:before {
  content: "\e928";
}
.icon-file-image:before {
  content: "\e929";
}
.icon-file-pdf:before {
  content: "\e92a";
}
.icon-format-list-bulleted:before {
  content: "\e92b";
}
.icon-format-list-text:before {
  content: "\e92c";
}
.icon-help:before {
  content: "\e92d";
}
.icon-image-multiple:before {
  content: "\e92e";
}
.icon-information:before {
  content: "\e92f";
}
.icon-magnify:before {
  content: "\e930";
}
.icon-map:before {
  content: "\e931";
}
.icon-map-marker:before {
  content: "\e932";
}
.icon-map-search:before {
  content: "\e933";
}
.icon-play:before {
  content: "\e934";
}
.icon-plus:before {
  content: "\e935";
}
.icon-printer:before {
  content: "\e936";
}
.icon-qrcode:before {
  content: "\e937";
}
.icon-refresh:before {
  content: "\e938";
}
.icon-send:before {
  content: "\e939";
}
.icon-server:before {
  content: "\e93a";
}
.icon-stop:before {
  content: "\e93b";
}
.icon-swap-horizontal:before {
  content: "\e93c";
}
.icon-table:before {
  content: "\e93d";
}
.icon-truck:before {
  content: "\e93e";
}
.icon-warehouse:before {
  content: "\e93f";
}
.icon-account-cog:before {
  content: "\e900";
}
.icon-account-hard-hat:before {
  content: "\e901";
}
.icon-application:before {
  content: "\e902";
}
.icon-archive:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-calendar-clock:before {
  content: "\e905";
}
.icon-chevron-down:before {
  content: "\e906";
}
.icon-clipboard-text:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e909";
}
.icon-source-merge:before {
  content: "\e90a";
}
.icon-webpack:before {
  content: "\e90b";
}
